<div class="row">
  <div class="col-8">
    <h4 class="text-primary">Informacion de los Estados de la Netbook</h4>
  </div>
  <div class="col-4">
    <h4 class="text-primary">Pertenece a: {{datosNetbook.nombreCarrito}}</h4>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h5 class="text-danger">Informacion del Ultimo Estado</h5>
  </div>
</div>

<table class="table  table-bordered text-center">
  <thead class="thead-dark">
    <tr>
      <th scope="col">NUMERO</th>
      <th scope="col">SERIE</th>
      <th scope="col">MARCA</th>
      <th scope="col">MODELO</th>
      <th scope="col">MAC-ADDRESS</th>
      <th scope="col">ESTADO</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">{{datosNetbook.numero}}</th>
      <td>{{datosNetbook.serie}}</td>
      <td>{{datosNetbook.marca}}</td>
      <td>{{datosNetbook.modelo}}</td>
      <td>{{datosNetbook.macaddress}}</td>
      <td>{{ultimoEstadoNetbook.estado}}</td>
    </tr>
  </tbody>
</table>
<p> <strong> Detalles:</strong> {{ultimoEstadoNetbook.detalle}} </p>

<a href="/estados/{{datosNetbook.idNetbook}}"> <button type="button" class="btn btn-outline-primary">+Add
    Estado</button></a>
<hr />
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">DETALLE</th>
      <th scopet="col">ESTADO</th>
      <th scope="col">FECHA</th>

    </tr>
  </thead>
  <tbody>
    {{#each netbook}}
    <tr>
      <th scope="row">{{@index}}</th>
      <td>{{observaciones}}</td>
      <td>{{estado}}</td>
      <td>{{fecha}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>