<div class="row bg-primary">
    <div class="col-6">
        <h3>Nueva Netbook </h3>
    </div>
    <div class="col-6 d-flex justify-content-end">
        <h3>{{nombreCarrito}}</h3>
    </div>
</div>
<div class="row mt-5">
    <div class="col-md-8">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Numero</th>
                    <th scope="col">Serie</th>
                    <th scope="col">MacAddress</th>
                    
                </tr>
            </thead>
            <tbody>
                {{#each listaNetbooks}}
                <tr>
                    <td>{{@index}}</th>
                    <th scope="row">{{numero}}</td>
                    <td>{{serie}}</td>
                    <td>{{macaddress}}</td>
                    
                </tr>
                {{/each}}                
            </tbody>
        </table>
    </div>
    <div class="col-md-4 mt-2">
        <form class="row g-3 myform" action="/netbooks/add/{{idCarrito}}/{{nombreCarrito}}" method="post">
            <input type="hidden" name="idCarrito" value="{{idCarrito}}">
            <input type="hidden" name="nombreCarrito" value="{{nombreCarrito}}">
            <div class="col-6">
                <div class="form-floating mb-3">
                    <label for="numero"><strong>Numero de Netbook</strong></label>
                    <input type="text" id="numero" name="numero" class="form-control" value="{{numero}}"
                        placeholder="Numero de Netbook" />
                </div>
            </div>
            <div class="col-6">
                <div class="form-floating mb-3">
                    <label for="floatingSerie"><strong>Numero de Serie</strong></label>
                    <input type="text" id="floatingSerie" name="serie" class="form-control"
                        placeholder="Numero de Serie" value="{{serie}}" />
                </div>
            </div>
            <div class="col-12">
                <div class="form-floating mb-3">
                    <label for="floatingMac"><strong>Mac-Address</strong></label>
                    <input type="text" id="floatingMac" name="macaddress" class="form-control" placeholder="Mac-Address"
                        value="{{macaddress}}" />
                </div>
            </div>
            <div class="col-6">
                <div class="form-floating mb-3">
                    <label for="floatingMarca"><strong>Marca</strong></label>
                    <input type="text" id="floatingMarca" name="marca" class="form-control" placeholder="Marca"
                        value="{{marca}}" />
                </div>
            </div>
            <div class="col-6">
                <div class="form-floating mb-3">
                    <label for="floatingModelo"><strong>Modelo</strong></label>
                    <input type="text" id="floatingModelo" name="modelo" class="form-control" placeholder="Modelo"
                        value="{{modelo}}" />
                </div>
            </div>
            <div class="col-12">
                <div class="form-floating mb-3">
                    <label for="floatingModelo"><strong>Detalles</strong></label>
                    <input type="text" name="detalle" id="floatingModelo" class="form-control" placeholder="Detalles"
                        style="height: :200px;" value="{{detalle}}">
                </div>
            </div>
            <div class="col-12 d-grid">
                <button class="btn btn-primary btn-block">
                    Guardar
                </button>
            </div>
        </form>
    </div>
</div>